.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: hsl(25, 57%, 38%);
  left: 50%;
  margin-top: 15px;
}

.navbar .logo {
  height: 40px;
  margin-right: 10px;
}

.navbar h1 {
  color: #fff;
  margin: 0;
  align-items: center;
}

.navbar .links a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar .links a:hover {
  text-decoration: underline;
}
#panier {
  width: 25px;
}
